<header class="main-header">
  <h1>Kaspi Online Store</h1>
  <div class="category-menu">
    @for (cat of categories; track cat.id) {
      <button 
        [class.active]="selectedCategoryId === cat.id"
        (click)="selectCategory(cat.id)">
        {{ cat.name }}
      </button>
    }
  </div>
</header>

<main>
  @if (selectedCategoryId) {
    <app-product-list 
      [products]="filteredProducts" 
      (removeProductEvent)="removeProduct($event)">
    </app-product-list>
  } @else {
    <div class="welcome-screen">Выберите категорию</div>
  }
  </main>