body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
}

#btn {
  background-color: #1877f2; /* синий */
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 1s ease;
}

#btn:hover {
  background-color: #093369; /* тёмно-синий */
}

#text {
  color: gray;
  margin-top: 16px;
  font-size: 18px;
}
