<div class="product-card"[ngClass]="statusClass">
   <img [src]="product.image">
   <h3>{{ product.name }}</h3>

   <p class="description">
      {{ product.description }}
   </p>

   <p class="price">
      Цена: {{ product.price | number }} ₸
   </p>

   <p class="rating">
      ⭐ Рейтинг: {{ product.rating }}
   </p>
   
   <div class="controls">
      <button (click)="product.likes = product.likes + 1">
        ❤️ {{ product.likes }}
      </button>
      
      <button (click)="removeMe()">🗑️ Удалить</button>
   </div>
</div>